@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/Proxima/Proxima\ Nova\ Font.otf');
  font-style: normal;
}

* {
  font-family: "Proxima Nova" !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.MuiToolbar-root {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80px !important;
}

.main-link {
  font-weight: 500;
}

.active-link {
  font-weight: 600;
  color: #FF6D20;
}

.basic-button {
  background-color: #FF6D20;
  color: white;

}

.slick-prev:before,
.slick-next:before {
  color: #FF6D20 !important;
  opacity: 1 !important;
  font-size: 28px !important;
}

main {
  width: calc(100% - 240px);
}

.slider-container {
  width: calc(100% - 50px);
}

.MuiPaper-root {
  margin: auto;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-width: 0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 16.5px 14px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 16.5px 14px;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  .MuiToolbar-root {
    height: 50px !important;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {}